openapi: 3.0.3
info:
  title: Embedded Payments
  description: >-
    Embedding payments into your software platform can be one of the most
    powerful value drivers for your customers and your top line. Imagine your
    software delivering the entire order-to-cash cycle including funding right
    into the customer's bank account. We provide low code integration- With just
    a single API, you can go live with Exact Payments. Onboard customers,
    automated underwriting, receive webhook notifications when your customers is
    live and ready to take payments. We have all the payment types your
    customers want and their buyers need. Credit and debit cards plus ACH
    payments, Apple Pay, Google Pay, Paypal, recurring payments, card-on-file
    and more. Dive into our API Reference and add embedded payments with Exact
    today!
  version: 1.0.4
  contact: {}
tags:
  - name: API Health Check
  - name: Authentication
  - name: Underwriting Workflow
  - name: Merchant Onboarding
  - name: Document Management
  - name: Account Management
  - name: Admin Tools
  - name: Payments
    description: Authorize payments and capture funds.
  - name: Payment Methods
    description: Tokenize payment details and manage those payment methods.
  - name: Customers
    description: Store customer details.
  - name: Orders
    description: Handle payments from your payment form with Exact.JS
  - name: Reporting
  - name: Webhooks
servers:
  - url: https://api.exactpaysandbox.com
    description: Exact Payments Sandbox
  - url: https://api-p2.exactpay.com
    description: Exact Payments API
paths:
  /status:
    get:
      tags:
        - API Health Check
      summary: Retrieve Status
      description: >-
        A method in which you can check wether or not the Exact Payments service
        is operational.  Used correctly, this can proactively notify your
        merchants on the very rare occasion that the Exact Payments service is
        not operational
      responses:
        '200':
          description: The status of the API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      operationId: ''
  /token:
    post:
      tags:
        - Authentication
      operationId: createUserToken
      summary: Create User Token
      description: >-
        Creates a User Token that can be used to authorize calls to other API
        endpoints in our application.
      parameters:
        - name: x-application-id
          in: header
          description: >-
            Application ID calling the API. Specify your assigned Application
            ID, otherwise, use the default value or leave it empty if you aren't
            assigned any Application ID. It can be specified in the header or in
            the body. If you're building your own application, refer to our
            [guide](https://developer.exactpay.com/docs/authentication) on how
            to get an Application ID.
          schema:
            type: string
            default: admin-pwa
            example: admin-pwa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UserToken'
                - required:
                    - email
                    - password
      responses:
        '201':
          description: |
            **Created**
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          $ref: '#/components/responses/BadRequestZodError'
        '401':
          description: |
            **Unauthorized**\
            \
            When you'll get `401 Unauthorized` response:
            - The Organization or Account the User belongs to is disabled.
            - Invalid User Credentials are supplied.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: |
            **Forbidden**\
            \
            When you'll get `403 Forbidden` response:
            - The User's password expired.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The provided Application doesn't exist.
            - User Credential doesn't exist.
            - The User Role doesn't exist.
            - The User's Organization or Account doesn't exist.
            - The User Invitation has not been accepted yet.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '423':
          description: >-
            **Locked**\

            \

            When you'll get `423 Locked` response:

            - User Credentials are locked due to more than five consecutive
            failed login attempts.

            - A Manager User has locked the User.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Locked'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /application/{applicationId}/token:
    post:
      tags:
        - Authentication
      operationId: createApplicationToken
      summary: Create Application Token
      description: >-
        Create a new Application Token for non-human users, like external APIs
        or User Interfaces to access our API under the session account.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/applicationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ApplicationToken'
                - required:
                    - label
                    - permissions
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationToken'
        '400':
          $ref: '#/components/responses/BadRequestZodError'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to create
            Application Tokens.

            - The User's Organization or Account is disabled.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Application doesn't exist.
            - The User's Organization or Account doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Authentication
      operationId: queryApplicationToken
      summary: Query Application Tokens
      description: >-
        Query Application Tokens for non-human users, like external APIs or User
        Interfaces to access our API under the session account.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/sortV2'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationTokenResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to read
            Application Tokens.
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Application doesn't exist.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /application/{applicationId}/token/{tokenId}:
    delete:
      tags:
        - Authentication
      operationId: deleteApplicationToken
      summary: Delete Application Token
      description: >-
        Delete a specific Application Token by the given Application Identifier
        under the session account.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - name: tokenId
          required: true
          in: path
          description: Application Token Identifier .
          schema:
            type: string
          example: 623cddcad82a8effbb0b9845
      responses:
        '204':
          description: |-
            **No Content**\
            \
            The Application Token has been successfully deleted.
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to delete
            Application Tokens.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Application doesn't exist.
            - The Application Token doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding-workflow:
    post:
      tags:
        - Underwriting Workflow
      summary: Create Workflow
      description: >-
        Create a new Underwriting Workflow for the Organization to evaluate
        Onboarding Applications.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnderwritingWorkflowRequestCreateWorkflow'
        required: true
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: >-
                      The unique identifier assigned to the newly created
                      Underwriting Workflow.
                    example: 61523709444c51fa997257fe
        '400':
          $ref: '#/components/responses/BadRequestCreateAndUpdateWorkflowResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to create
            Underwriting Workflows.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The User's Organization doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Underwriting Workflow
      summary: List Workflows
      description: >-
        Retrieve a list of active underwriting workflows associated with your
        organization.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: List of the active underwriting workflows of the PayFac.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnderwritingWorkflowResponse'
          headers:
            x-total-count:
              schema:
                type: number
              description: Total items in the list
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding-workflow/{workflowId}/default:
    put:
      tags:
        - Underwriting Workflow
      operationId: setDefaultWorkflowById
      summary: Set Default Workflow
      description: >-
        Set a specific Workflow as the default to process the new Onboarding for
        the given Organization and Workflow identifiers. The current default
        Workflow will lose the defaulted assignment.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: >-
            **No Content**\

            \

            The Workflow has been successfully set as the default Underwriting
            Workflow.
        '304':
          description: |
            **Not Modified**\
            \
            When you'll get `304 Not Modified` response:
            - The Workflow is disabled.
            - The Workflow is already the default.
            - It isn't possible to update the current default Workflow.
        '401':
          description: >-
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to update
            the Workflow.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Workflow doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding-workflow/{workflowId}/enable:
    put:
      tags:
        - Underwriting Workflow
      operationId: enableWorkflowById
      summary: Enable Workflow
      description: Enable a specific Workflow by Organization and Workflow identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: |-
            **No Content**\
            \
            The Workflow has been successfully enabled.
        '304':
          description: |
            **Not Modified**\
            \
            When you'll get `304 Not Modified` response:
            - The Workflow was already enabled.
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to enable
            Workflows.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Workflow doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding-workflow/{workflowId}/disable:
    put:
      tags:
        - Underwriting Workflow
      operationId: disableWorkflowById
      summary: Disable Workflow
      description: Disable a specific Workflow by Organization and Workflow identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: |-
            **No Content**\
            \
            The Workflow has been successfully disabled.
        '304':
          description: |
            **Not Modified**\
            \
            The Workflow was already disabled.
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to disable
            Workflows.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Workflow doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding-workflow/{workflowId}:
    put:
      tags:
        - Underwriting Workflow
      summary: Update Workflow
      description: >-
        Update Underwriting Workflow properties for the given Organization and
        Workflow identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/workflowId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnderwritingWorkflowRequestUpdateWorkflow'
        required: true
      responses:
        '204':
          description: '**No Content**'
        '400':
          $ref: '#/components/responses/BadRequestCreateAndUpdateWorkflowResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to update
            Underwriting Workflows.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The User's Organization doesn't exist.
            - The Underwriting Workflow doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Underwriting Workflow
      summary: Retrieve Workflow
      description: Retrieve a list of properties associated with a specific workflow ID.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '200':
          description: The underwriting workflow indicated by the ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnderwritingWorkflowResponse'
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.\
            When the workflow ID is not valid.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - Underwriting Workflow
      operationId: deleteWorkflowById
      summary: Delete Workflow
      description: Delete a specific Workflow by Organization and Workflow identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/workflowId'
      responses:
        '204':
          description: |-
            **No Content**\
            \
            The Workflow has been successfully deleted.
        '400':
          description: |-
            **Bad Request**\
            \
            The Workflow is default and cannot be deleted.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to delete
            Workflows.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Workflow doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding:
    post:
      tags:
        - Merchant Onboarding
      operationId: createOnboarding
      summary: Create Onboarding Application
      description: >-
        Create a new Onboarding Application for the new Account or Sub
        Organization.
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
        required: true
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingCreateResponse'
        '400':
          description: |
            **Bad Request**\
            \
            The request body contains a malformed request or is incomplete.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestX2ErrorV4.1.0'
                  - $ref: '#/components/schemas/contextErrorResponseCreateOnboarding'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The default Workflow doesn't exist.
            - The system token associated to the Workflow doesn't exist.
            - The Organization doesn't exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Format Type.
                    enum:
                      - not-found
                    example: not-found
                  message:
                    type: string
                    description: Error Message.
                    enum:
                      - Onboarding Workflow Not Found
                      - System Token Not Found
                      - Organization Not Found
                    example: Onboarding Workflow Not Found
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Merchant Onboarding
      operationId: listOnboardingByOrganization
      summary: List Onboardings by Organization
      description: >-
        Retrieve the list of Onboarding Applications associated for the given
        Organization Identifier.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sortV2'
        - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingWithoutPrincipal'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token Or Application doesn't have
            permission to view Onboardings.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}:
    get:
      tags:
        - Merchant Onboarding
      operationId: retrieveOnboardingById
      summary: Retrieve Onboarding
      description: >-
        Retrieve a specific Onboarding Application for the given Organization
        and Onboarding identifier.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      responses:
        '200':
          description: '**OK**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingWithPrincipalResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have the permission to view
            the onboarding.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |-
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist. 
            - The Onboarding not found.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - Merchant Onboarding
      operationId: deleteOnboardingById
      summary: Delete Onboarding
      description: >-
        Delete a specific Onboarding Application for the given Organization and
        Onboarding Identifiers.
      security:
        - apiKey: []
      parameters:
        - name: organizationId
          in: path
          description: >-
            The Identifier of the Organization that created the specific
            Onboarding.
          required: true
          example: 63efb229903e470516491e7c
          schema:
            type: string
        - name: onboardingId
          in: path
          description: >-
            The Identifier of the Onboarding Application which you want to
            delete.
          required: true
          example: 6154ce01387b94001cd87ada
          schema:
            type: string
      responses:
        '204':
          description: |-
            **No Content**\
            \
            The Onboarding Application has been successfully deleted.
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have the permission to
            delete the Onboarding.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /mcc:
    get:
      tags:
        - Merchant Onboarding
      operationId: listMerchantCategoryCodes
      summary: List Merchant Category Codes
      description: >-
        Retrieve the list of Merchant Category Codes supported by Exact
        Payments.
      responses:
        '200':
          description: '**OK**'
          content:
            application/json:
              schema:
                type: array
                description: List of Merchant Category Codes.
                items:
                  $ref: '#/components/schemas/Mcc'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /onboarding:
    get:
      tags:
        - Merchant Onboarding
      operationId: listOnboardings
      summary: List Onboardings
      description: Retrieve the list of Onboarding Applications under the session account.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sortV2'
        - $ref: '#/components/parameters/select'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingWithoutPrincipal'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have the permission to view
            the Onboardings.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: >
            **Not Found**\

            \

            When you'll get `404 Not Found` response:

            - The Organization or Account associated to the session User or
            Application doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /onboarding/search/{businessName}:
    get:
      tags:
        - Merchant Onboarding
      operationId: searchOnboardingByBusinessName
      summary: Search Onboarding by Business Name
      description: >-
        Retrieve the list of Onboarding Applications submitted under your
        Organization matching the Business Name provided as a search parameter.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/OrganizationAccountName'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sortV2'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingWithoutPrincipal'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have the permission to view
            the Onboardings.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: >
            **Not Found**\

            \

            When you'll get `404 Not Found` response:

            - The Organization associated to the session User or Application
            doesn't exist. 
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/search/{businessName}:
    get:
      tags:
        - Merchant Onboarding
      operationId: searchOnboardingByOrganizationIdAndBusinessName
      summary: Search Onboarding by Organization identifier and Business Name
      description: >-
        Retrieve the list of Onboarding Applications matching the Business Name
        provided as a search parameter for the given Organization identifier.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/OrganizationAccountName'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sortV2'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingWithoutPrincipal'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have the permission to view
            the Onboardings.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The  Organization doesn't exist. 
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/filters:
    get:
      tags:
        - Merchant Onboarding
      operationId: listFilterOptions
      summary: List Filter Options
      description: >-
        Retrieve a list of options that can be used as a filter when retrieving
        the Onboarding Applications associated to the given Organization
        Identifier.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - name: isDeleted
          in: query
          description: >-
            Indicates whether to bring the allowed Organizations for deleted
            Onboarding or not. If not sent, it will bring the allowed
            Organizations for currently active Onboardings under your
            Organization into the system.
          required: false
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: '**OK**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterOnboardings'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - User or Application Token doesn't have the permission to view the
            Accounts.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/note:
    post:
      tags:
        - Admin Tools
      operationId: post-create-notes
      summary: Add Note
      description: >-
        Create a Note for a specific Onboarding Application for the given
        Organization and Onboarding Application identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/OnboardingNote'
                - required:
                    - note
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingNote'
        '400':
          description: |-
            **Bad Request**\
            When you'll get `400 Bad Request` response:
            - The request body contains a malformed request or is incomplete.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to create
            Notes.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Admin Tools
      operationId: get-list-notes
      summary: List Notes
      description: >-
        Retrieve a list of Notes for the given Organization and Onboarding
        identifier.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sortV2'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OnboardingNote'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to read
            Notes.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/document-request:
    post:
      tags:
        - Document Management
      operationId: createDocumentRequest
      summary: Request Document
      description: >-
        Create a Document Request asking the Organization or Account for
        additional verification.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/OnboardingDocumentRequestCreate'
                - required:
                    - subject
                    - body
                    - type
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingDocumentRequestCreate'
        '400':
          $ref: '#/components/responses/BadRequestMinifiedZodError'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to create
            Document Requests.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: >
            **Not Found**\

            \

            When you'll get `404 Not Found` response:

            - The Organization doesn't exist.

            - None of the Onboarding Applications matches the provided deletion
            status.

            - The Onboarding Application doesn't exist.

            - The Application belonging to the User or Application Token doesn't
            exist.

            - The User of the email sender doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Document Management
      summary: List Document Requests
      description: >-
        Retrieve a list of Document Requests for the given Organization and
        Onboarding Application identifiers.
      operationId: get-list-document-requests
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/sortV2'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingDocumentRequestsResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to list
            Document Requests.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: '**Internal Server Error**'
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/InternalServerError'
            application/json:
              schema:
                $ref: '#/components/schemas/contextErrorResponseSystemError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /document-request/{documentRequestToken}:
    get:
      tags:
        - Document Management
      operationId: listDocumentRequestByToken
      summary: List Document Requests by Token
      description: >-
        List the Document Requests associated with the Token found in the Upload
        Document link URL sent via the Document Request email using [Request
        Document](/operations/createDocumentRequest) API endpoint.
      parameters:
        - $ref: '#/components/parameters/documentRequestToken'
      responses:
        '200':
          description: '**OK**'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: The Document Request identifier.
                      example: 64c9983041f25a1ae3511d14
                    type:
                      type: string
                      description: The Template used for the Document Request.
                      enum:
                        - application-received
                        - onboarding-pended
                        - onboarding-document-request
                        - onboarding-approved
                        - onboarding-declined
                        - verify-email
                        - password-reset
                      example: onboarding-document-request
        '401':
          description: |
            **Unauthorized**\
            \
            When you'll get `401 Unauthorized` response:
            - The Document Request Token is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/document-request/{documentRequestId}:
    put:
      tags:
        - Document Management
      operationId: updateDocumentRequest
      summary: Update Document Request
      description: >-
        Update a Document Request for an Onboarding Application for the given
        Organization, Onboarding, and Document Request identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentRequestId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingDocumentRequestUpdate'
      responses:
        '204':
          description: |-
            **No Content**\
            \
            The Document Request has been successfully updated.
        '304':
          description: >
            **Not Modified**\

            \

            When you'll get `304 Not Modified` response:

            - No changes applied to the Document Request; it was already updated
            with same information.
        '400':
          $ref: '#/components/responses/BadRequestMinifiedZodError'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to update
            Document Requests.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The provided Document Request doesn't exist.
            - The provided Onboarding Application doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Document Management
      summary: Retrieve Document Request
      description: >-
        Retrieve a specific Document Request for the given Organization and
        Onboarding Application identifiers.
      operationId: get-retrieve-document-request
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentRequestId'
      responses:
        '200':
          description: '**OK**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingDocumentRequestResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to retrieve
            Document Requests.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
            - The Document Request doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: '**Internal Server Error**'
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/InternalServerError'
            application/json:
              schema:
                $ref: '#/components/schemas/contextErrorResponseSystemError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - Document Management
      operationId: deleteDocumentRequestById
      summary: Delete Document Request
      description: >-
        Delete a Document Request for an Onboarding Application for the given
        Organization, Onboarding, and Document Request identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentRequestId'
      responses:
        '204':
          description: |
            **No Content**\
            \
            The Document Request has been successfully deleted.
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have the permission to
            delete the Document Request.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
            - The Document Request Identifier doesn't exist.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/document:
    post:
      tags:
        - Document Management
      operationId: uploadDocument
      summary: Upload Document
      description: >-
        Upload a Document for an Onboarding Application for the given
        Organization and Onboarding identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OnboardingDocumentUploadRequest'
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDocumentResponse'
        '400':
          description: |
            **Bad Request**\
            \
            The request body contains a malformed request or is incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestMinifiedZodError'
            plain/text:
              schema:
                $ref: '#/components/schemas/BadRequestUploadDocument'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to upload
            Documents.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The provided Onboarding Application doesn't exist.
            - The Principal doesn't exist on the Onboarding Application.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
            application/json:
              schema:
                $ref: '#/components/schemas/contextErrorResponseUploadDocument'
        '413':
          description: |
            **Payload Too Large**\
            \
            When you'll get `413 Payload Too Large` response:
            - The Document size is > 14 MB.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/PayloadTooLarge'
        '415':
          description: |
            **Unsupported Media Type**\
            \
            When you'll get `415 Unsupported Media Type` response:
            - Unable to identify the Document type.
            - Document type not supported.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaType'
        '500':
          description: |
            **Internal Server Error**
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/InternalServerError'
            application/json:
              schema:
                $ref: '#/components/schemas/contextErrorResponseSystemError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Document Management
      summary: List Uploaded Documents
      description: >-
        Retrieve a list of Documents for the given Organization and Onboarding
        Application identifiers.
      operationId: get-documents
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/sortV2'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              $ref: '#/components/headers/x-total-count'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to list
            uploaded Documents.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /document/{token}:
    post:
      tags:
        - Document Management
      operationId: uploadDocumentByToken
      summary: Upload Document using Token
      description: >-
        Upload a Document for an Onboarding Application using the Token value
        returned in [Create Onboarding](/operations/createOnboarding) response.
      parameters:
        - $ref: '#/components/parameters/onboardingToken'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OnboardingDocumentUploadTokenRequest'
      responses:
        '201':
          description: '**Created**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDocumentResponse'
        '400':
          description: |
            **Bad Request**\
            \
            The request body contains a malformed request or is incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestMinifiedZodError'
            plain/text:
              schema:
                $ref: '#/components/schemas/BadRequestUploadDocument'
        '401':
          description: |
            **Unauthorized**\
            \
            When you'll get `401 Unauthorized` response:
            - The Onboarding Token is invalid.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: >
            **Not Found**\

            \

            When you'll get `404 Not Found` response:

            - The Onboarding Application associated to the Onboarding Token
            doesn't exist.

            - The Principal doesn't exist on the Onboarding Application.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
            application/json:
              schema:
                $ref: '#/components/schemas/contextErrorResponseUploadDocument'
        '413':
          description: |
            **Payload Too Large**\
            \
            When you'll get `413 Payload Too Large` response:
            - The Document size is > 14 MB.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/PayloadTooLarge'
        '415':
          description: |
            **Unsupported Media Type**\
            \
            When you'll get `415 Unsupported Media Type` response:
            - Unable to identify the Document type.
            - Document type not supported.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/document/{documentId}:
    put:
      operationId: put-update-document-type-by-id
      tags:
        - Document Management
      summary: Update Document Type
      description: >-
        Update the `type` of a specific Document for the given Organization,
        Onboarding Application, and Document identifiers.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  allOf:
                    - $ref: '#/components/schemas/DocumentUploadType'
                    - example: drivers-license
                      description: The new `type` to be updated for the Document.
              required:
                - type
      responses:
        '204':
          description: '**No Content**'
        '304':
          description: >
            **Not Modified**\

            \

            When you'll get `304 Not Modified` response:

            - The Document is not updated. The System is unable to update the
            Document at this time.
        '400':
          description: |
            **Bad Request**\
            \
            The request body contains a malformed request or is incomplete.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/BadRequestUpdateDocumentType'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to update
            Documents.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
            - The Document doesn't exist.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Document Management
      summary: Retrieve Document
      description: >-
        Retrieve a specific uploaded Document for the given Organization and
        Onboarding Application identifiers.
      operationId: get-retrieve-document
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: '**OK**'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to retrieve
            uploaded Document.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
            - The Document doesn't exist.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - Document Management
      summary: Delete Document
      description: Delete an uploaded document associated with a specific document ID.
      operationId: deleteDocumentById
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentId'
      responses:
        '204':
          description: |
            **No content**\
            Indicates that the document has been successfully deleted.
        '304':
          description: |
            **Not Modified**\
            Indicates that the document cannot be deleted.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: >
            **Not Found**\

            When the PayFac's ID is not valid.\

            When the PayFac user has no permissions to operate on that PayFac.\

            When that onboarding does not exist or has been deleted.\

            When that onboarding document does not exist or has been deleted
            before.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/document/download:
    get:
      tags:
        - Document Management
      summary: Download All Documents
      description: >-
        Download all Documents for the given Organization and Onboarding
        Application identifiers.
      operationId: get-download-all-documents
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - name: isDeleted
          in: query
          description: >-
            Indicates whether to download all of the Documents for deleted
            Onboarding or not. If not sent, it will download all the Documents
            for currently active Onboardings under your Organization.
          required: false
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: '**OK**'
          content:
            application/zip:
              schema:
                type: string
                description: >-
                  A ZIP file containing all the Documents attached to the
                  Onboarding Application.
                format: binary
                example: merchantName-documents.zip
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to read
            Documents.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/document/{documentId}/download:
    get:
      tags:
        - Document Management
      summary: Download Document
      description: >-
        Download a specific Document for the given Organization, Onboarding
        Application, and Document identifiers.
      operationId: get-document-by-id
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
        - $ref: '#/components/parameters/documentId'
        - name: isDeleted
          in: query
          description: >-
            Indicates whether to download the Document for deleted Onboarding or
            not. If not sent, it will download the Document for currently active
            Onboardings under your Organization.
          required: false
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: '**OK**'
          content:
            application/zip:
              schema:
                type: string
                description: >-
                  A ZIP file containing the Document attached to the Onboarding
                  Application.
                format: binary
                example: merchantName-documents.zip
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to read
            Documents.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: |
            **Not Found**\
            \
            When you'll get `404 Not Found` response:
            - The Organization doesn't exist.
            - The Onboarding Application doesn't exist.
            - The Document doesn't exist.
          content:
            plain/text:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerErrorTextOrJSON'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/retry-rule:
    put:
      tags:
        - Admin Tools
      summary: Process Verification
      description: >-
        Manually request an underwriting workflow verification to be performed
        outside of the initial onboarding workflow.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      requestBody:
        description: >-
          ruleName is an existing rule name in the workflow assigned to a
          merchant application
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRetryRuleRequest'
            examples:
              High Risk MCC:
                value:
                  ruleName: High Risk MCC
              Medium Risk Trulioo International WatchList:
                value:
                  ruleName: Medium Risk Trulioo International WatchList
        required: true
      responses:
        '204':
          description: Indicates that the rule was scheduled to retry successfully
        '400':
          description: |
            **Bad Request**\
            When there are errors in the payload on a business level.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.\
            User without permission
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When that onboarding does not exist or has been deleted.\
            When rule name does not exist in the workflow.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/recheck:
    put:
      tags:
        - Admin Tools
      summary: Process Workflow
      description: >-
        Manually request all verifications in an underwriting workflow to be
        performed outside of the initial onboarding process.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      responses:
        '204':
          description: >-
            The re-check request has been received successfully and will be
            evaluated asynchronously.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.\
            When that onboarding does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/onboarding/{onboardingId}/status:
    put:
      tags:
        - Admin Tools
      summary: Update Onboarding Status
      description: >-
        Manually update the merchant onboarding application status after being
        automatically determined by the decision engine.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/onboardingId'
      requestBody:
        description: The new status and the change reason
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOnboardingStatusRequest'
            examples:
              inProgress:
                value:
                  status: inProgress
              terminated:
                value:
                  status: terminated
                  statusChangeReason: General Risk Concern
        required: true
      responses:
        '204':
          description: Onboarding status successfully updated
        '400':
          description: |
            **Bad Request**\
            When there are errors in the payload on a business level.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.\
            User without permission
        '403':
          description: |
            **Invalid**\
            Invalid new status for the current onboarding
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When that onboarding does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/webhook:
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      description: Create a new webhook and associate a callback URL.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
      requestBody:
        description: >-
          Fields that compose a webhook definition inside Exact Payments
          ecosystem.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
        required: true
      responses:
        '201':
          description: >-
            The response object that indicates the ID of the webhook created in
            the system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: |
            **Bad Request**\
            When there are errors in the payload on a business level.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Webhooks
      summary: List Webhooks
      description: Retrieve a list of webhooks created under an organization.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: The webhooks list.
          headers:
            x-total-count:
              description: Total items on the list
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookResponse'
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          description: Service Unavailable
  /organization/{organizationId}/webhook/{webhookId}/enable:
    put:
      tags:
        - Webhooks
      summary: Enable Webhook
      description: Enable a webhook notification to be sent to requestor
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: |
            **No Content**\
            Indicates that the webhook has been successfully enabled
        '304':
          description: |
            **Not Modified**\
            Indicates that the webhook is already enabled
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.\
            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/webhook/{webhookId}/disable:
    put:
      tags:
        - Webhooks
      summary: Disable Webhook
      description: Disable a webhook notification.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: |
            **No Content**\
            Indicates that the webhook has been successfully disabled
        '304':
          description: |
            **Not Modified**\
            Indicates that the webhook is already disabled
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.\
            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /organization/{organizationId}/webhook/{webhookId}:
    put:
      tags:
        - Webhooks
      summary: Update Webhook
      description: Update the properties of an existing webhook.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/webhookId'
      requestBody:
        description: Fields that are updatable in the webhook definition.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatableWebhookRequest'
        required: true
      responses:
        '204':
          description: Indicates that the webhook has been successfully updated
        '304':
          description: Not Modified
        '400':
          description: |
            **Bad Request**\
            When there are errors in the payload on a business level.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.\
            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Webhooks
      summary: Retrieve Webhook
      description: Retrieve the details associated with an existing webhook.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '200':
          description: The full definition of the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the Webhook does not exist.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - Webhooks
      summary: Delete Webhook
      description: Delete a webhook and its associated properties.
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/organizationId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: Indicates that the webhook has been successfully deleted.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the PayFac's ID is not valid.\
            When the PayFac user has no permissions to operate on that PayFac.\
            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/{accountId}/webhook:
    post:
      tags:
        - Webhooks
      summary: Create Webhook
      description: Create a new webhook and associate a callback URL.
      operationId: account-post-create-webhook
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        description: >-
          Fields that compose a webhook definition inside Exact Payments
          ecosystem.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
        required: true
      responses:
        '201':
          description: >-
            The response object that indicates the ID of the webhook created in
            the system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: |
            **Bad Request**\
            When there are errors in the payload on a business level.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the Account's ID is not valid.\
            When the Account user has no permissions to operate on that Account.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Webhooks
      summary: List Webhooks
      description: Retrieve a list of webhooks created under an organization.
      operationId: account-get-list-webhooks
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: The webhooks list.
          headers:
            x-total-count:
              description: Total items on the list
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookResponse'
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the Account's ID is not valid.\
            When the Account user has no permissions to operate on that Account.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          description: Service Unavailable
  /account/{accountId}/webhook/{webhookId}/enable:
    put:
      tags:
        - Webhooks
      summary: Enable Webhook
      description: Enable a webhook notification to be sent to requestor
      operationId: account-enable-webhook
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: |
            **No Content**\
            Indicates that the webhook has been successfully enabled
        '304':
          description: |
            **Not Modified**\
            Indicates that the webhook is already enabled
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: >
            **Not Found**\

            When the Account's ID is not valid.\

            When the Account user has no permissions to operate on that
            Account.\

            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/{accountId}/webhook/{webhookId}/disable:
    put:
      tags:
        - Webhooks
      summary: Disable Webhook
      description: Disable a webhook notification.
      operationId: account-disable-webhook
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: |
            **No Content**\
            Indicates that the webhook has been successfully disabled
        '304':
          description: |
            **Not Modified**\
            Indicates that the webhook is already disabled
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: >
            **Not Found**\

            When the Account's ID is not valid.\

            When the Account user has no permissions to operate on that
            Account.\

            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /account/{accountId}/webhook/{webhookId}:
    put:
      tags:
        - Webhooks
      summary: Update Webhook
      description: Update the properties of an existing webhook.
      operationId: account-update-webhook
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/webhookId'
      requestBody:
        description: Fields that are updatable in the webhook definition.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatableWebhookRequest'
        required: true
      responses:
        '204':
          description: Indicates that the webhook has been successfully updated
        '304':
          description: Not Modified
        '400':
          description: |
            **Bad Request**\
            When there are errors in the payload on a business level.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: >
            **Not Found**\

            When the Account's ID is not valid.\

            When the Account user has no permissions to operate on that
            Account.\

            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
        - Webhooks
      summary: Retrieve Webhook
      description: Retrieve the details associated with an existing webhook.
      operationId: account-get-retrieve-webhook
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '200':
          description: The full definition of the webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: |
            **Not Found**\
            When the Webhook does not exist.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
        - Webhooks
      summary: Delete Webhook
      description: Delete a webhook and its associated properties.
      operationId: account-delete-webhook
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/webhookId'
      responses:
        '204':
          description: Indicates that the webhook has been successfully deleted.
        '401':
          description: |
            **Unauthorized**\
            Invalid token supplied.
        '404':
          description: >
            **Not Found**\

            When the Account's ID is not valid.\

            When the Account user has no permissions to operate on that
            Account.\

            When that webhook does not exist or has been deleted.
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /report:
    get:
      tags:
        - Reporting
      summary: List Reports
      description: Retrieves a list of report queries that a user has previously created.
      operationId: get-reports
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      responses:
        '200':
          description: '**OK**'
          headers:
            x-total-count:
              description: Total items on the list.
              schema:
                type: integer
                example: 100
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportQueryResponse'
              examples:
                Reports Example:
                  $ref: '#/components/examples/ReportQueryResponse'
        '401':
          description: >
            **Unauthorized**\

            \

            When you'll get `401 Unauthorized` response:

            - The User or Application Token is invalid.

            - The User or Application Token doesn't have permission to list
            Reports.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /report/{reportId}:
    get:
      tags:
        - Reporting
      summary: Download Report
      description: Download report query results in JSON or CSV format.
      operationId: get-report
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/reportId'
        - name: select
          in: query
          description: The fields that will be returned in the report.
          required: false
          example: transactionId,transactionType,transactionStatus
          schema:
            type: string
        - name: format
          in: query
          description: The format of the file that will be downloaded.
          required: false
          example: csv
          schema:
            type: string
            default: json
            enum:
              - csv
              - json
      responses:
        '200':
          description: >-
            If the report was generated, a stream of JSON file with the report
            result data, otherwise the JSON report query will be retrieved. The
            examples shown are for the JSON format.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportDetailsResponse'
              examples:
                Account Report Details Example:
                  $ref: '#/components/examples/AccountReportDetailsResponse'
                Transaction Report Details Example:
                  $ref: '#/components/examples/TransactionReportDetailsResponse'
                Chargeback Report Details Example:
                  $ref: '#/components/examples/ChargebackReportDetailsResponse'
                Settlement Report Details Example:
                  $ref: '#/components/examples/SettlementReportDetailsResponse'
                Funding Report Details Example:
                  $ref: '#/components/examples/FundingReportDetailsResponse'
        '401':
[...]
